.cabecalho__navegacao__logo {
    width: 20vh;
    padding: 15px;
}

.cabecalho__navegacao {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.cabecalho__navegacao__nav {
    display: flex;
    align-items: center;
    margin-right: 15px;
}

.cabecalho__navegacao__nav__link {
    margin-right: 15px;
    font-weight: bold;
    font-size: 18px;
    text-decoration: none;
    text-transform: uppercase;
    color: #19191a;
}

.cabecalho__navegacao__nav__link:hover {
    color: #FFF;
    text-decoration: underline;
}

.cabecalho__navegacao__nav__icone {
    width: 40px;
}