.app {
    font-family: 'Montserrat', sans-serif;
    display: grid;
    grid-template-areas: 
    "cabecalho" 
    "conteudo" 
    "rodape";
    grid-template-columns: auto;
    grid-template-rows: auto auto auto;
}


.cabecalho {
    background: #e2becd;
    grid-area: cabecalho;
}

.conteudo {
    background: rgb(187, 177, 177);
    grid-area: conteudo;
}

.rodape {
    background: #e2becd;
    grid-area: rodape;
}